/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #258ea6;
  }
  
  .user-form-wrapper {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    text-justify: center;
    color: #222;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    margin-left: 0;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .firstName {
    margin-right: 1%;
  }
  
  .lastName {
    margin-left: 1%;
  }

 
  .firstName,
  .lastName,
  .email,
  .address,
  .state,
  .zip,
  .password,
  .confirmPassword {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-bottom: 10px;
  }
  
  .firstName,
  .lastName {
    width: 49%;
  }

  .city,
  .state,
  .zip {
    margin-bottom: 0px;
    height: 80px;
  }

  .city,
  .zip {
      width: 30%;
      
  }

  .city {
      margin-right: 10%;
  }

  .state {
    width: 15%;
    margin-left: 7%;
  }
  
  .zip {
    margin-left: 8%;
  }

  .password{
    margin-bottom: 0px;
    height: 70px;
  }

  .confirmPassword{
    margin-bottom: 0px;
    height: 70px;
  }

  
  .email,
  .password,
  .address,
  .confirmPassword {
    width: 100%;
  }
  
  .userFormSubmit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #btn-user-form {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 0em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }

  

  #btn-user-form:hover {
    color: #000;
    background-color: #258EA6;
    border: 2px solid #258EA6;
  }
  
  #userFormSmall {
    color: #000;
    font-weight: lighter;
  }

  #userFormSmall:hover {
      color: "red";
  }